body {
    /* display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center; */
}

main {
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__open-btn{
    width: 200px;   
    height: 100px;
    border-radius: 25px;
    border: 3px solid darkblue;
    background-color: whitesmoke;
    color: darkblue;
    font-size: 20px;
    font-weight: 800;
    /* transition: background-color 0.3s ease-out; */
}


.modal__open-btn:hover
{
    cursor: pointer;
    background-color: navy;
    color: whitesmoke;
}

#modal {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
}

#modal .modal__content {
    position: absolute;
    top: 50%; left: 50%;
    margin: -150px 0 0 -150px;
    width: 300px;
    height: 100px auto;
    background-color: whitesmoke;
    border: 2px solid navy;
    text-align: center;
    padding: 20px 10px;
}

#modal .modal__content p{
    font-size: 28px;
    font-weight: bolder;
}

#modal .modal__close-btn {
    width: 80px;   
    height: 40px;
    border-radius: 25px;
    border: 3px solid gold;
    background-color: indigo;
    color: gold;
    font-size: 12px;
    font-weight: 800;
    transition: background-color 0.3s ease-out;   
    text-align: center;
}

#modal .modal__close-btn:hover {
    cursor: pointer;
    background-color: greenyellow;
    color: indigo;
}

#modal .modal__layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}