/* css 나누기 */
/* header */
header {
    background-color: #FDCC31;
    height: 150px;
}

.top-nav {
    
}

.top-nav .icon {

}

.top-nav .top-nav__list {

}

.top-nav .top-nav__title {

}

.top-nav .top-nav__cart {
    
}


.top-nav {

}

/* main */
main {
    background-color: wheat;
    height: 750px;
}

main .title {

}

