@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600;800&display=swap');


/* values */
:root {
    --point-color: #FDCC31;
    --main-color: black;
    --sub-color: lightgray;
    --square-color: linear-gradient(lightgray, pink);
}   

* {
    font-family: 'Prompt', sans-serif;
}
/* common */
.square {
    border-radius: 10%;
}

.star-disactive {
    color: var(--sub-color);
}

.star-active{
    color: var(--point-color);
}


/* header */
header {
    background-color: var(--point-color);
    height: 100px;
}

.top-nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 10px 20px 10px;
    color: var(--main-color);
}

.top-nav__title {
    font-size: 18px;
    font-weight: 600;
}

.search-wrapper {
    position: relative;
}

.search-bar {
    display: block;
    margin: 0 auto;
    
    width: 88%;
    padding: 15px;
    z-index: 1;

    border: none;
    border-radius: 20px;

    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
}

.search-bar::placeholder {
    padding: 10px;
    color: var(--sub-color);
    font-weight: 600;
}

.search-wrapper i {
    position: absolute;
    top: 12px;
    right: 30px;
    color: var(--sub-color);
}

/* main */
main {
    margin: 40px 10px;
}

.contents-title {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    color: var(--main-color);
}

.contents-book {
    display: flex;
}

.contents-book__img {
    width: 110px;
    height: 160px;
    background: var(--square-color);
}

.book__details {
    margin-left: 15px;
}

.book__title{
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}

.book__author {
    font-size: 16px;
    font-weight: 400;
    color: var(--sub-color);    
}

.book__scope {
    font-size: 16px;
    padding: 10px 5px;
}

.book__tag-box {
    marign-left: 5px;
    display: flex;  
    margin-bottom: 20px;
}

.book__tag {
    width: 100px;
    height: 24px;
    line-height: 24px;
    border-radius: 5px;
    background-color: var(--sub-color);
    color: var(--main-color);
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    font-weight: 400px;
    margin-right: 10px;
}

.book__act-btn {
    display: flex;
    justify-content: space-between;
}

.book__favorite-btn {
    position: relative;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: var(--point-color);
}

.book__favorite-btn i {
    position: absolute;
    top: 8px;
    left: 11px;
}

.book__go-btn {
    width: 130px;
    height: 35px;
    line-height: 32px;
    border-radius: 5px;
    background-color: var(--main-color);
    color: #fff;
    text-align: center;
    vertical-align: center;
    font-size: 14px;
    font-weight: 400px;
}

.adventures__list {
    display: flex;   
    padding: 0px;
}

.adventures__item {
    list-style: none;
    padding-right: 20px;
}  

.adventures__img {
    width: 70px;
    height: 105px;
    background: var(--square-color);
}

.adventures__scope {
    margin-top: 10px;
    font-size: 0.1rem;
}

.contents__authors {
    display: flex;
}

.authors__img {
    width: 40%;
    height: 130px;
    margin-right: 20px;
    background: var(--square-color);
}

.authors__title {
    margin: 5px 0px;
}
.authors__title p {
    margin: 0px;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}

.authors__detail p {
    margin: 0px;
    font-size: 12px;
    color: var(--sub-color);
}