<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <article>
        <header>
            <h1>
                한정수 개인전
            </h1>
            <p>
                <time datetime="2013-05-16T16:00:00+09:00">
                    2013년05월16일
                </time>
            </p>
        </header>
        <p>
            서울 종로구 옵시스아트 갤러리에서 '한정수 개인전'이 개최되었다.
        </p>
        <aside>
            <h1>옵시스아트갤러리</h1>
            <address>
                <p>주소: 서울시 종로구 소격동 36번지</p>
                <p>전화번호: 02-735-1139</p>
                <p>이메일: email:info@opsistart.co.kr</p>
            </address>
        </aside>
    </article>
</body>
</html>

