<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>hr Tag</title>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <h1>LOGO</h1>
            <h2>MAINMENU</h2>
        </div> <!-- header-->
        <hr>
        <div id="container">
            <div class="visual1">
            </div><!-- visual-->
            <hr>
            <div class="nav">
                <h2>ABOUT</h2>
            </div><!-- aside -->
            <hr>
            <div id="contents">
                <h3>company info</h3>
                <hr>
                <h3>portfoliolist</h3>
            </div><!-- //contents-->
        </div> <!-- //container-->
        <hr>
        <div id="footer">
            
        </div><!-- //footer -->
        
        <p> 
            월드와이드 웹이란<br>
            <q cite="http://www.w3.org/people/berners-lee/">
                장애에 구애없이 사람들이 손쉽게 저보를 공유할 수 있는 공간
            </q>
            이라고 정의하고 한다.
        </p>
    </div><!-- //wrap -->
</body>
</html>
